.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px hsl(198, 0%, 55%) solid;
  padding: 0px 6vw;
  font-size: 24px;
  color: hsl(198, 0%, 40%);
}

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px hsl(198, 0%, 55%) solid;
  text-align: center;
  font-style: italic;
  color: hsl(198, 0%, 40%);
}

.app-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  top: 80px;
  bottom: 76px;
  position: relative;
  height: calc(100vh - 156px);
  margin-bottom: 32px;
  color: hsl(198, 0%, 40%);
}

.app-title-1 {
  margin-bottom: 0px;
}

.app-title-2 {
  margin-top: 0px;
}

.app-title-1, .app-title-2 {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2px;
}

.sub-title {
  letter-spacing: 1px;
}

.request-an-invite-button {
  cursor: pointer;
  border: 2px solid hsl(198, 0%, 55%);
  background-color: transparent;
  color: hsl(198, 0%, 55%);
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  margin-bottom: 24px;
}

@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-100px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

.close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.popup-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
}

.popup-title::after {
  content: '——';
  display: block;
  letter-spacing: normal;
}

.ok-button {
  margin-top: 48px;
  width: 100%;
  background: transparent;
  height: 36px;
  border: 1px solid hsl(198, 0%, 55%);
  cursor: pointer;
}

.ok-button:disabled {
  cursor: default;
  border-color: #d0cfcf;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 10px;
  font-style: italic;
  margin-top: 16px;
}
